/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #23272A;
}

html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0px;
}

/*  */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #23272A;

}

/* header inicial  */

.header {
    height: 100vh;
    background-image: 
    linear-gradient(to right bottom, 
    rgba(169, 177, 52, 0.8),
    rgb(204, 122, 45)),
   url('/images/marcas-background.jpg');
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}


.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primeiro {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 30px;
}

.heading-primeiro-main {
    display: block;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 5px;
}

.heading-primeiro-sub {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 30px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}

.btn-white {
    background-color: #fff;
    color: #777;
  font-size: 14px;
}

.header-social{
    padding: 10px;
    text-decoration: none;
	text-align: right;
}
.header-social a {
	margin: 0 5px;
    color: #fff;
}

.header-social a:hover{
transition: 1.2s;
color: #000000;
}

/* Containerss */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3%;
    font-size: 19px;
}

.container h2{
    font-size: 45px;
}


.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   margin-top: 5%;
}

.row p, h4, h2{
    color:#CCC
}

.col-md-4 {
    width: 30%; 
    margin: 10px; 
}


@media (max-width: 768px) {
    .container {
        padding: 10px; 
    }

    .col-md-4 {
        width: 45%; 
        margin: 20px;
    }
}


/* Form consulta FIPE */

.opcoes-selecao {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
}

.opcoes-selecao input[type="radio"] {
    display: none;
}

.opcoes-selecao label {
    display: inline-block;
    padding: 12px 24px;
    background-color: #EAEAEA;
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

.opcoes-selecao input[type="radio"]:checked+label {
    background-color: #CC7A2D;
    color: #FFFFFF;
    border-color: #CC7A2D;
}

.opcoes-selecao label:hover {
    background-color: #DDD;
}

.formulario-consulta {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.select {
    min-width: 350px !important;
}

.formulario-consulta label {
    font-weight: bold;
    color: #333333;
}

.formulario-consulta select {
    width: 100%;
    margin-bottom: 25px;
    padding: 12px;
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    background-color: #F8F8F8;
    font-size: 16px;
}

#buttonConsultar {
    width: 200px;
    height: 60px;
    padding: 12px 24px;
    background-color: #CC7A2D;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, border-color 0.3s;
    display: block;
    margin: 0 auto;
}

#buttonConsultar:hover {
    background-color: #72451a;
    transform: scale(1.1);
}

.section-consulta {
    width: 50%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    background-color: #F4F4F4;
    border: 2px solid #CCCCCC;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.section-consulta h2 {
    color: #23272A;
    margin: 30px;
    font-size: 36px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .formulario-consulta select {
        font-size: 12px;
    }

    .section-consulta {
        width: 100%;
    }
}

/*  modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    max-width: 60%;
}

.fechar {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #555555;
}

.fechar:hover {
    color: #CC7A2D;
}

.resultado-fipe {
    color: #23272A;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.detalhe-item {
    margin: 20px 0;
    font-size: 20px;
}

.valor-label {
    color: #444444;
    font-weight: bold;
}

.valor {
    color: #CC7A2D;
    font-size: 24px;
    font-weight: bold;
}

.error-modal {
    color: #D32F2F;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 920px) {
    main {
        justify-content: center;
        text-align: center;
        padding: 0 auto;
    }

    .primeira-secao {
        background-color: #23272A;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 600px;
        flex-wrap: wrap;
        position: relative;
    }

    .card-inicial {
        color: #FFFFFF;
    }

    .card-inicial h1 {
        font-size: 56px;
        padding-bottom: 25px;
    }

    .card-inicial p {
        padding-bottom: 25px;
    }

    .logo {
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    .segunda-secao {
        max-width: 1260px;
        height: auto;
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 40px;
    }
}

/* footer */

#footer {
    padding: 10px;
    text-decoration: none;
	text-align: center;
    background-color: white;
    
}

#footer p {
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
}

#footer h2 {
	margin: 30px 0;
	color: #23272A;
}

.social a {
	margin: 0 5px;
    color: #23272A;
}

.social a:hover{
transition: 1.2s;
color: #CC7A2D;
}
